*{
    box-sizing: border-box;
}

body{
    margin: 0 ;
    background-color: hsl(208, 30%, 85%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

h2{
    font-size: 32px;
    margin-top: 4rem;
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: -.3rem;
}

.p-title{
    font-size: 18px;
    letter-spacing: 1px;
}

img{
    width: 550px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.about-center{
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    
}   

.board{
    max-width: 430px;
    display: none;
    margin-left: 1rem;
    letter-spacing: 1px;
}

.board.active{
    display: block;
}

.buttons{

    border: 0;
    padding: 15px 45px;
    background-color: hsl(0, 0%, 80%);
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;
}

.about, .another-about{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: flex-start;
    background-color: white;
    min-height: 368px;
    border-radius: 15px;
}

.buttons.active{
    background-color: hsl(0, 100%, 100%);
}

.about-center{
    display: none;
}

.about-center.active{
    display: flex;
}

.direction-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    gap: 40px;
    margin-left: 5rem;
}

.dirBtn{
    padding: 10px 15px;
    font-size: 40px;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 15px;
    text-transform: uppercase;
    background-color: transparent;
    color: red;
}

